ul,
#myUL {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.category-tool {
  /*float: right;*/
  margin: 0 40px 0 0;
}

.deck-title {
  cursor: pointer;
  margin: 0 232px 0 0;
  font-size: 11pt;
  font-weight: 300;
  border-radius: 2px;
  background-color: rgb(253, 253, 241);
}

.nested {
  /*margin-top: 5px;*/
  display: none;
}

.active {
  /* margin-top: 5px;*/
  display: block;
}
