.profile {
  margin: 0 0 0 250px;
}

#logout-button {
  margin: 2px 0 0 281px;
  width: 125px;
  border-radius: 5px;
  background-color: #e3cf5b;
  color: white;
  font-weight: bold;
  text-transform: none;
}

#logout-button:hover {
  background-color: #4f3222;
}
